h4 {
  color: cadetblue;
}

.blue {
  color: cadetblue;
  font-size: .8em;

  span {
    font-weight: 400;
    font-size: 1.1em;
    ;
  }
}

img {
  width: 200px;
}

.big {
  font-size: 1.3em;
  font-weight: 400;
}

.anotations {
  margin-top: -10px;
  margin-bottom: 15px;
}
