
        <app-header></app-header>
        <app-sidebar></app-sidebar>
        <div class="page-wrapper" style="height:100vh!important;">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Citas Guardadas</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                            <li class="breadcrumb-item">Citas Guardadas</li>
                        </ol>
                    </div>
                    <div class="">
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                           <!--  <h4 class="card-title">Consultas guardadas hoy</h4> -->
                                            <div class="table-responsive">
                                                <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre</th>
                                                            <th>Apellidos</th>
                                                            <th>Hora</th>
                                                            <th>Diagnostico</th>
                                                            <th>Receta</th>
                                                            <th>Estado</th>
                                                            <th>Receta</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody >
                                                        <tr *ngFor="let c of consultas">
                                                            <td>{{c.nombre}}</td>
                                                            <td>{{c.apellidopUsuario}}</td>
                                                            <td>{{c.datetime | date:"shortTime"}}</td>
                                                            <td>{{c.diagnostico}}</td>
                                                            <td>{{c.receta}}</td>
                                                            <td>{{c.diagnostico}}</td>
                                                            <td> <button class="btn btn-info" (click)="openReceta(c)">ver receta</button></td>
                                                            <td><div class="btn-group">
                                                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Acciones
                                                                </button>
                                                                <div class="dropdown-menu animated bounce">
                                                                    <a class="dropdown-item" href="#">Enviar receta</a>
                                                                    <a class="dropdown-item" href="#">Seguimiento</a>
                                                                    <a class="dropdown-item" href="#">Revisar Historia</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item" href="#">Crear anotación</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                </div>
                            </div>
        
                        </div>

                    </div>
                </div>
                </div>
            </div>
          </div>
    
