<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper" style="height:100vh!important;">
  <div class="container-fluid">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Citas Completadas</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item">Citas Guardadas</li>
        </ol>
      </div>
      <div class="">
        <button
          class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i
            class="ti-settings text-white"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="table-responsive">
                  <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                    <thead>
                      <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Diagnostico</th>
                        <th>ver receta</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let c of consultas">
                        <td>{{c.data.datetime | date:"dd MMMM"}}</td>
                        <td>{{c.data.datetime | date:"shortTime"}}</td>
                        <td>{{c.data.nombreUsuario}}</td>
                        <td>{{c.data.apellidopUsuario}} {{c.data.apellidomUsuario}}</td>
                        <td>{{c.data.diagnostico}}</td>
                        <td> <button class="btn btn-info bt-outline" (click)="openReceta(c)">ver receta</button>
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
