   <app-header></app-header>
   <app-sidebar></app-sidebar>
   <div class="page-wrapper" style="height:100vh!important;">
      <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-7 align-self-center">
                <h3 class="text-themecolor">Paciente: {{dataPaciente.patientName}} {{dataPaciente.patientLastname}} {{dataPaciente.patientLastname2}}</h3>
                <p><span> Sexo:</span> Femenino  <span>Edad:</span> 38  <span>DNI:</span> 44539552</p>   
                <!-- <div class="card">
                    <div class="card-body">
                    </div>
                </div> -->
            </div>
            <div class="col-md-5 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/citaspendientes']">Citas Pendientes</a></li>
                    <li class="breadcrumb-item">Consulta</li>
                </ol>
            </div>
            <div class="">
                <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Video</h4>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="video"></div>
                    </div>
              </div>     
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <h4 class="card-title m-b-20">Datos Pre-consulta</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                  <label class="control-label m-b-20">Enfermedades pre-existentes:</label> 
                            </div>
                            <div class="col-lg-12">
                                  <label class="control-label m-b-20">Medicinas pre-existentes:</label> 
                            </div>
                            <div class="col-lg-12">
                              <label class="control-label m-b-20">Operaciones previas:</label> 
                          
                            </div>
                            <div class="col-lg-12">
                              <label class="control-label m-b-20">Comentarios adicionales:</label> 
                             
                            </div>
                        </div>
                      </div>
    <!--                   <div class="col-lg-12">
                        <h4 class="card-title">Antecedentes</h4>
                      </div> -->
                    </div>
                  </div>
                </div>
              
            </div>
              <div class="col-lg-7">
                  <div class="card">
                      <div class="card-body">
                              <ul class="nav nav-tabs profile-tab" role="tablist">
                                  <!-- <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Datos paciente</a> </li> -->
                                  <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">MEAP</a> </li>
                                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Tratamiento y seguimiento</a> </li>
                              </ul>
                              <form [formGroup]="consultaForm" (ngSubmit)="onSaveForm()">
                                  <div class="tab-content">
                                    <!--   <div class="tab-pane active" id="home" role="tabpanel">
                                          <h4 class="card-title m-t-20 m-b-20">Datos paciente</h4>
                                          <div class="row">
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                           
                                                      <input type="text" id="name" class="form-control" formControlName="name"  placeholder="nombres">
                                                     
                                                  </div> 
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                     
                                                      <input type="text" id="lastname" class="form-control" formControlName="lastname"  placeholder="Apellido Paterno">
                                                   
                                                  </div> 
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                   
                                                      <input type="text" id="mlastname" class="form-control" formControlName="mlastname"  placeholder="Apellido Materno">
                                                     
                                                  </div> 
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                 
                                                      <input type="number" id="dni" class="form-control" formControlName="dni"  placeholder="DNI">
                                                    
                                                  </div> 
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      
                                                      <input type="text" id="birthdate" class="form-control" formControlName="birthdate"  placeholder="Fecha de nacimiento">
                                                     
                                                  </div> 
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                
                                                      <input type="text" id="sex" class="form-control" formControlName="sex"  placeholder="Apellido Paterno">
                                                     
                                                  </div> 
                                              </div>
                                          </div>
                                      </div> -->
                                      <div class="tab-pane active" id="profile" role="tabpanel">
                                          <h4 class="card-title m-t-20 m-b-20">Motivo/ EAP</h4>
                                          <div class="row">
                                              <div class="col-lg-12">
                                                  <div class="form-group">
                                              <!--         <label class="control-label">Nombre</label> -->
                                                      <textarea type="text" id="motive" class="form-control" formControlName="motive"  placeholder="Motivo consulta">
                                                          </textarea>
                                                      <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                                  </div> 
                                              </div>
                                                      <div class="col-lg-12">
                                                          <div class="form-group">
                                                      <!--         <label class="control-label">Nombre</label> -->
                                                              <textarea type="text" id="exploration" class="form-control" formControlName="exploration"  placeholder="Exploración">
                                                                  </textarea>
                                                              <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                                          </div> 
                                                      </div>
                                                      <div class="col-lg-12">
                                                          <div class="form-group">
                                                      <!--         <label class="control-label">Nombre</label> -->
                                                              <textarea type="text" id="anamnesis" class="form-control" formControlName="anamnesis"  placeholder="Anamnesis">
                                                                  </textarea>
                                                              <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                                          </div> 
                                                      </div>
                                                      <div class="col-lg-12">
                                                          <div class="form-group">
                                                      <!--         <label class="control-label">Nombre</label> -->
                                                              <textarea type="text" id="pronostico" class="form-control" formControlName="pronostico"  placeholder="Pronostico">
                                                                  </textarea>
                                                              <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                                          </div> 
                                                      </div>
                                                      <div class="col-lg-12">
                                                        <div class="form-group">
                                                    <!--         <label class="control-label">Nombre</label> -->
                                                            <textarea type="text" id="diagnostic" class="form-control" formControlName="diagnostic"  placeholder="Diagnostico">
                                                                </textarea>
                                                            <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                                        </div> 
                                                    </div>
                                          </div>
                                      </div>
                                      <div class="tab-pane" id="settings" role="tabpanel">
                                          <h4 class="card-title m-t-20 m-b-20">Tratamiento</h4>
                                         
                                          <div class="col-lg-12">
                                              <div class="form-group">
                                          <!--         <label class="control-label">Nombre</label> -->
                                                  <textarea type="text" id="evolution" class="form-control" formControlName="evolution"  placeholder="Evolución">
                                                      </textarea>
                                                  <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                              </div> 
                                          </div>
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                        <!--         <label class="control-label">Nombre</label> -->
                                                <textarea type="text" id="prescription" class="form-control" formControlName="prescription"  placeholder="Prescripción">
                                                    </textarea>
                                                <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                            </div> 
                                        </div>
                                          <div class="col-lg-12">
                                              <div class="form-group">
                                          <!--         <label class="control-label">Nombre</label> -->
                                                  <textarea type="text" id="more" class="form-control" formControlName="more"  placeholder="Adiconionales">
                                                      </textarea>
                                                  <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                              </div> 
                                          </div>
                                         

                                      </div>
                                  </div>  
                                  <div class="row">
                                    <div class="col-lg-6">
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="submit" class="btn btn-block btn-info block">Guardar</button>
                                    </div>
              
                                </div>
                                </form>
                                
                            </div>
                            
                        </div>
                  
                  
              </div>
              <div class="alert alert-success">This is an example top alert. You can edit what u wish. </div>
          </div>
      </div>
    </div>

       
  
  
