
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper" style="height:100vh!important;">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Citas pendientes</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                        <li class="breadcrumb-item">Citas Pendientes</li>
                    </ol>
                </div>
                <div class="">
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" *ngFor="let c of citas">
                    <div class="card">
                        <div class="card-body" (click)="goTodetail(c)">
                            <p>{{c.patientName}} {{c.patientLastname}}</p>
                            <p><span>{{c.datetime | date:'short'}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

