<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" >
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav" style="height: 100vh!important;">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                    <ul>
                        <li><a [routerLink]="['/citaspendientes']">Próximas Citas</a></li>
                        <li><a [routerLink]="['/citas']">Las citas de hoy</a></li>
                        <li><a [routerLink]="['/direcciones']">Seguimiento Pacientes</a></li>
                    </ul>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
