<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-divider"></li>
        <ul>
          <li><a [routerLink]="['/citaspendientes']">Próximas Citas</a></li>
          <li><a [routerLink]="['/citas']">Citas Completadas</a></li>
          <li><a [routerLink]="['/direcciones']">Seguimiento Pacientes</a></li>
        </ul>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
