<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">       
                <div class="row page-titles">
                    <div class="col-md-12 align-self-center">
                        <h3 class="text-themecolor">Historia de Consultas médicas</h3>
                    </div>
                    <div class="">
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                  <mat-horizontal-stepper #stepper>
                      <div *ngFor ="let c of consultas; let i=index">
                          <mat-step label="{{c.datetime | date:'mediumDate'}}" >
                            <p class="tituloDiagnostico"><span>Diagnostico:</span> {{c.datosConsulta.diagnostic}}</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6>Consulta</h6>
                                    <div class="col-lg-12">
                                        <p class="titulodetalle">motivo: </p>
                                        <p>{{c.datosConsulta.motive}}</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="titulodetalle">exploración: </p>
                                        <p>{{c.datosConsulta.exploration}}</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="titulodetalle">pronostico: </p>
                                        <p>{{c.datosConsulta.pronostico}}</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h6>Receta</h6>
                                    <div class="row">
                                        

                                            <div class="col-lg-6">
                                                <p>Medicamento</p>
                                            </div>
                                            <div class="col-lg-3">
                                                <p>Dosis</p>
                                            </div>
                                            <div class="col-lg-3">
                                                <p>Duración</p>
                                            </div>
                                     
                                                <div class="col-lg-12" *ngFor="let m of c.datosConsulta.medicines; let i=index">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            {{m.activeprinciple}}
                                                        </div>
                                                        <div class="col-lg-4">
                                                            {{m.dosis}}
                                                        </div>
                                                        <div class="col-lg-2">
                                                            {{m.duration}}
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                              <!-- <button mat-button matStepperNext>Next</button> -->
                            </div>
                          </mat-step>
                      </div>
                   <!--  <mat-step label="Step 2" state="chat">
                      <p>Socialize with each other.</p>
                      <div>
                          <button class="btn btn-success" matStepperPrevious>Back</button> 
                     
                      </div>
                    </mat-step> -->
                   <!--  <mat-step label="Step 3">
                      <p>You're welcome.</p>
                    </mat-step>
                    <mat-step label="Step 4">
                        <p>You're welcome.</p>
                      </mat-step> -->
                  </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>