.mat-step-icon-state-edit .mat-step-icon{
    background: royalblue!important;
}
.tituloDiagnostico{
    margin-top:10px;
    span{
        background-color: #0779e4;
        border-radius: 15px;
        padding:.3em .5em;
        color:#fff;
        margin-right:20px;
    }
}
h6{
    color:#0779e4;
    margin-bottom: 20px;
}
.recetainput{
    font-size:.8em;
    color:#ababab;
        span{
            color:#393e46;
            font-weight: 600;
            margin-left: 5px;
            margin-right:5px;
        }
}
.titulodetalle{
    color:#393e46;
    font-size:.7em;
    margin-bottom:none;
}